@tailwind base;
@tailwind components;
@tailwind utilities;
/* tailwindcss -i src/web-client/tailwind/input.css -o src/web-client/tailwind/build.css --watch */
/* tailwindcss -i src/web-client/tailwind/input.css -o dist/style.css --minify */

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #4cb561;
}
